.bottom {
  background-color: white;
  border-radius: 15px;
  height: 500px;
  margin-top: 30px;
  position: relative;
}

.bottom__image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.bottom__image-picture {
  height: 300px;
  width: 100%;
  border-radius: 15px;
}

.bottom__column-content {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  top: 65%;
  position: absolute;
}

.bottom__topcontent {
  font-weight: 700;
  font-size: 30px;
  color: black;
}

.bottom__bottomcontent {
  font-weight: 400;
  font-size: 20px;
  padding-top: 10px;
  color: silver;
}

.bottom__column-grade {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-top: 140px;
}

.bottom__grade {
  font-weight: 700;
  font-size: 25px;
}

.bottom__grade-number {
  padding-left: 15px;
  padding-right: 10px;
  color: silver;
}
