.top {
  background-color: white;
  border-radius: 15px;
  height: 400px;
}

.top .top__picture {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.top__picture-top {
  border-radius: 15px;
  width: 100%;
  height: 180px;
}

.top__picture-bottom {
  border-radius: 100%;
  width: 130px;
  left: 40%;
  top: 130px;
  border: 3px solid white;
  position: absolute;
}

.top__column-content {
  display: flex;
  flex-direction: column;
}

.top__username {
  font-weight: 700;
  font-size: 40px;
  left: 35%;
  top: 235px;
  position: absolute;
}

.top__preview {
  font-weight: 700;
  font-size: 30px;
  left: 42%;
  top: 285px;
  color: silver;
  position: absolute;
}

.top__btn {
  top: 330px;
  /* position: absolute; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  outline: none;
  border: none;
}

.top__btn-left {
  top: 320px;
  left: 130px;
  height: 70px;
  width: 200px;
  font-size: 30px;
  border-radius: 15px;
  border: none;
  background-color: slateblue;
  color: wheat;
  position: absolute;
}

.top__btn-right {
  top: 320px;
  right: 130px;
  height: 70px;
  width: 200px;
  font-size: 30px;
  border-radius: 15px;
  border: none;
  background-color: #eaecff;
  color: slateblue;
  position: absolute;
}

.top__btn-left:focus {
  outline: none;
}
.top__btn-right:focus {
  outline: none;
}
